[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylast = "*"
pylint = "*"
requests = "*"
bs4 = "*"
colorama = "*"

[dev-packages]

[requires]
python_version = "3.7"
